<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Marks Website</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/pe-icons.css" rel="stylesheet" />

    <link href="~/Content/prettyPhoto.css" rel="stylesheet" />

    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/js/jquery.js"></script>

    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="~/images/ico/apple-touch-icon-57x57.png">

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            'use strict';
            jQuery('body').backstretch([
                "/images/bg/bg1.jpg",
                "/images/bg/bg2.jpg",
                "/images/bg/bg3.jpg"
            ], { duration: 5000, fade: 500, centeredY: true });

            $("#mapwrapper").gMap({
                controls: false,
                scrollwheel: false,
                markers: [{
                    latitude: 40.7566,
                    longitude: -73.9863,
                    icon: {
                        image: "/images/marker.png",
                        iconsize: [44, 44],
                        iconanchor: [12, 46],
                        infowindowanchor: [12, 0]
                    }
                }],
                icon: {
                    image: "/images/marker.png",
                    iconsize: [26, 46],
                    iconanchor: [12, 46],
                    infowindowanchor: [12, 0]
                },
                latitude: 40.7566,
                longitude: -73.9863,
                zoom: 14
            });
        });
    </script>
</head><!--/head-->
<body>
    <div id="preloader"></div>
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"><h1><span class="pe-7s-gleam bounce-in"></span> Marks Website</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>@Html.ActionLink("About Mark", "AboutMark", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Insurance", "Insurance", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                    <li>@Html.ActionLink("ContactMark", "ContactMark", "Home")</li>

                    @*<li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="project-item.html">Project Single</a></li>
                                <li><a href="blog-item.html">Blog Single</a></li>
                                <li class="active"><a href="404.html">404</a></li>
                            </ul>
                        </li>*@
                </ul>
            </div>
        </div>
    </header><!--/header-->
    @RenderBody()
    <div id="footer-wrapper">
        <section id="bottom" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Some Header Here</h4>
                        <p>Lorem ipsum dolor sit amet, pede dui sollicitudin, curabitur vitae massa nostra cras, purus gravida dapibus et, porttitor dui felis ultrices quam. Amet vel nullam. Lectus magna pulvinar diam integer, nam et felis nunc orci facilisi, est curabitur lectus.</p>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <h4>Marks Practice</h4>
                        <div>
                            <ul class="arrow">
                                <li><a href="#">About Marks Practice</a></li>
                                <li><a href="#">Meet Mark</a></li>
                                <li><a href="#">Insurance Providers</a></li>
                                <li><a href="#">Services Mark Offers</a></li>
                            </ul>
                        </div>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <h4>Latest Blogs (top 2)</h4>
                        <div>
                            <div class="media">
                                <div class="pull-left">
                                    <img class="widget-img" src="images/portfolio/folio01.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading"><a href="#">Title (with photo)</a></span>
                                    <small class="muted">Posted 14 April 2014</small>
                                </div>
                            </div>
                            <div class="media">
                                @*<div class="pull-left">
                                        <img class="widget-img" src="images/portfolio/folio02.jpg" alt="">
                                    </div>*@
                                <div class="media-body">
                                    <span class="media-heading"><a href="#">Title (without Photo)</a></span>
                                    <small class="muted">Posted 14 April 2014</small>
                                </div>
                            </div>
                        </div>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <h4>Marks Office Address</h4>
                        <address>
                            <strong>3405 N Eagle lane</strong><br>
                            Bethany,<br>
                            Oklahoma, 73008<br>
                            <abbr title="Phone"><i class="fa fa-phone"></i></abbr> 5802846013
                        </address>
                    </div> <!--/.col-md-3-->
                </div>
            </div>
        </section><!--/#bottom-->

        <footer id="footer" class="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        Mark LLC something here
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li><a id="gototop" class="gototop" href="#"><i class="fa fa-chevron-up"></i></a></li><!--#gototop-->
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->
    </div>

    <script src="~/js/plugins.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script>
    <script src="~/js/init.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
